@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #fafafa;
  --background-primary-90: #fafafaE6;
  --background-primary-80: #fafafaCC;
  --background-primary-70: #fafafaB3;
  --background-primary-60: #fafafa99;
  --background-primary-50: #fafafa80;
  --background-primary-40: #fafafa66;
  --background-primary-30: #fafafa4D;
  --background-primary-20: #fafafa33;
  --background-primary-10: #fafafa1A;
  --background-primary-0: #fafafa00;

  --background-secondary: #ffffff;
  --background-secondary-90: #ffffffE6;
  --background-secondary-80: #ffffffCC;
  --background-secondary-70: #ffffffB3;
  --background-secondary-60: #ffffff99;
  --background-secondary-50: #ffffff80;
  --background-secondary-40: #ffffff66;
  --background-secondary-30: #ffffff4D;
  --background-secondary-20: #ffffff33;
  --background-secondary-10: #ffffff1A;
  --background-secondary-0: #ffffff00;

  --foreground-primary: #1a1a1a;
  --foreground-primary-90: #1a1a1aE6;
  --foreground-primary-80: #1a1a1aCC;
  --foreground-primary-70: #1a1a1aB3;
  --foreground-primary-60: #1a1a1a99;
  --foreground-primary-50: #1a1a1a80;
  --foreground-primary-40: #1a1a1a66;
  --foreground-primary-30: #1a1a1a4D;
  --foreground-primary-20: #1a1a1a33;
  --foreground-primary-10: #1a1a1a1A;
  --foreground-primary-0: #1a1a1a00;

  --foreground-secondary: #54565a;
  --foreground-secondary-90: #54565aE6;
  --foreground-secondary-80: #54565aCC;
  --foreground-secondary-70: #54565aB3;
  --foreground-secondary-60: #54565a99;
  --foreground-secondary-50: #54565a80;
  --foreground-secondary-40: #54565a66;
  --foreground-secondary-30: #54565a4D;
  --foreground-secondary-20: #54565a33;
  --foreground-secondary-10: #54565a1A;
  --foreground-secondary-0: #54565a00;

  --accent-primary: #E7661B;
  --accent-primary-90: #E7661BE6;
  --accent-primary-80: #E7661BCC;
  --accent-primary-70: #E7661BB3;
  --accent-primary-60: #E7661B99;
  --accent-primary-50: #E7661B80;
  --accent-primary-40: #E7661B66;
  --accent-primary-30: #E7661B4D;
  --accent-primary-20: #E7661B33;
  --accent-primary-10: #E7661B1A;
  --accent-primary-0:  #E7661B00;

  --accent-secondary: #F47425;
  --accent-secondary-90: #F47425E6;
  --accent-secondary-80: #F47425CC;
  --accent-secondary-70: #F47425B3;
  --accent-secondary-60: #F4742599;
  --accent-secondary-50: #F4742580;
  --accent-secondary-40: #F4742566;
  --accent-secondary-30: #F474254D;
  --accent-secondary-20: #F4742533;
  --accent-secondary-10: #F474251A;
  --accent-secondary-0:  #F4742500;

  --accent-third: #F79A53;
  --accent-third-90: #F79A53E6;
  --accent-third-80: #F79A53CC;
  --accent-third-70: #F79A53B3;
  --accent-third-60: #F79A5399;
  --accent-third-50: #F79A5380;
  --accent-third-40: #F79A5366;
  --accent-third-30: #F79A534D;
  --accent-third-20: #F79A5333;
  --accent-third-10: #F79A531A;
  --accent-third-0:  #F79A5300;

  --accent-fourth: #FFAB66;
  --accent-fourth-90: #FFAB66E6;
  --accent-fourth-80: #FFAB66CC;
  --accent-fourth-70: #FFAB66B3;
  --accent-fourth-60: #FFAB6699;
  --accent-fourth-50: #FFAB6680;
  --accent-fourth-40: #FFAB6666;
  --accent-fourth-30: #FFAB664D;
  --accent-fourth-20: #FFAB6633;
  --accent-fourth-10: #FFAB661A;
  --accent-fourth-0:  #FFAB6600;

  --optional-primary: #454662;
  --optional-primary-90: #454662E6;
  --optional-primary-80: #454662CC;
  --optional-primary-70: #454662B3;
  --optional-primary-60: #45466299;
  --optional-primary-50: #45466280;
  --optional-primary-40: #45466266;
  --optional-primary-30: #4546624D;
  --optional-primary-20: #45466233;
  --optional-primary-10: #4546621A;
  --optional-primary-0:  #45466200;
}



body {
  color: rgb(var(--foreground-primary));
  background: var(--background-primary);
}

.heading-decorations{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.heading-decorations::after{
  content: "";
  position: absolute;
  width: 30%;
  height: 5px;
  background-color: var(--accent-primary);
  bottom: 0;left:0;
}
.heading-decorations::before{
  content: "";
  position: absolute;
  width: 75%;
  height: 5px;
  background-color: var(--foreground-secondary);
  bottom: 0;left:0;
}