@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #fafafa;
  --background-primary-90: #fafafaE6;
  --background-primary-80: #fafafaCC;
  --background-primary-70: #fafafaB3;
  --background-primary-60: #fafafa99;
  --background-primary-50: #fafafa80;
  --background-primary-40: #fafafa66;
  --background-primary-30: #fafafa4D;
  --background-primary-20: #fafafa33;
  --background-primary-10: #fafafa1A;
  --background-primary-0: #fafafa00;

  --background-secondary: #ffffff;
  --background-secondary-90: #ffffffE6;
  --background-secondary-80: #ffffffCC;
  --background-secondary-70: #ffffffB3;
  --background-secondary-60: #ffffff99;
  --background-secondary-50: #ffffff80;
  --background-secondary-40: #ffffff66;
  --background-secondary-30: #ffffff4D;
  --background-secondary-20: #ffffff33;
  --background-secondary-10: #ffffff1A;
  --background-secondary-0: #ffffff00;

  --foreground-primary: #1a1a1a;
  --foreground-primary-90: #1a1a1aE6;
  --foreground-primary-80: #1a1a1aCC;
  --foreground-primary-70: #1a1a1aB3;
  --foreground-primary-60: #1a1a1a99;
  --foreground-primary-50: #1a1a1a80;
  --foreground-primary-40: #1a1a1a66;
  --foreground-primary-30: #1a1a1a4D;
  --foreground-primary-20: #1a1a1a33;
  --foreground-primary-10: #1a1a1a1A;
  --foreground-primary-0: #1a1a1a00;

  --foreground-secondary: #54565a;
  --foreground-secondary-90: #54565aE6;
  --foreground-secondary-80: #54565aCC;
  --foreground-secondary-70: #54565aB3;
  --foreground-secondary-60: #54565a99;
  --foreground-secondary-50: #54565a80;
  --foreground-secondary-40: #54565a66;
  --foreground-secondary-30: #54565a4D;
  --foreground-secondary-20: #54565a33;
  --foreground-secondary-10: #54565a1A;
  --foreground-secondary-0: #54565a00;

  --gradient-green: #44EC9D;
  --gradient-purple: #7F5AF8;

  --dashboard-blue: #197BBD;
  --dashboard-blue-90: #197BBDE6;
  --dashboard-blue-80: #197BBDCC;
  --dashboard-blue-70: #197BBDB3;
  --dashboard-blue-60: #197BBD99;
  --dashboard-blue-50: #197BBD80;
  --dashboard-blue-40: #197BBD66;
  --dashboard-blue-30: #197BBD4D;
  --dashboard-blue-20: #197BBD33;
  --dashboard-blue-10: #197BBD1A;
  --dashboard-blue-0: #197BBD00;

  --dashboard-green: #53D769;
    --dashboard-green-90: #53D769E6;
    --dashboard-green-80: #53D769CC;
    --dashboard-green-70: #53D769B3;
    --dashboard-green-60: #53D76999;
    --dashboard-green-50: #53D76980;
    --dashboard-green-40: #53D76966;
    --dashboard-green-30: #53D7694D;
    --dashboard-green-20: #53D76933;
    --dashboard-green-10: #53D7691A;
    --dashboard-green-0: #53D76900;
;
    --dashboard-red: #FC3D39;
    --dashboard-red-90: #FC3D39E6;
    --dashboard-red-80: #FC3D39CC;
    --dashboard-red-70: #FC3D39B3;
    --dashboard-red-60: #FC3D3999;
    --dashboard-red-50: #FC3D3980;
    --dashboard-red-40: #FC3D3966;
    --dashboard-red-30: #FC3D394D;
    --dashboard-red-20: #FC3D3933;
    --dashboard-red-10: #FC3D391A;
    --dashboard-red-0: #FC3D3900;
}

html{
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes dottimmer {
  from{
    transform: scaleX(0);
  }
  to{
    transform: scaleX(1);
  }
}

.dot{
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #fafafa75;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}

.active-dot{
  width: 50px;
  background-color: #fafafa95;
  position: relative;
}

.active-dot .inner-dot{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: #fafafa;
  transform-origin:center left;
  animation-name: dottimmer; /* Added animation name */
  animation-duration: 5s; /* Added animation duration */
  animation-timing-function: ease; /* Added animation timing function */
}


.hero-slide{
  opacity: 0;
  transition: 0.5s ease;
}

.active-slide{
  opacity: 1;
}




.burger-menu{
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.header-white .line {
  stroke: var(--foreground-primary);
}

.line {
  fill: none;
  stroke: var(--background-primary);
  stroke-width: 6;
  transition: stroke-dasharray 400ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.loader {
  color: #1a1a1a;
  font-size: 10px;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
  



.checkout-background::after{
  content: "";
  position: absolute;
  top:0;
  width: 100%;
  left: 0;
  height: 100%;
  background-image: linear-gradient(45deg,#44EC9D,#7F5AF8) ;
  mask-image: url('/images/pastilute_pattern.png');
  z-index: 0;
  opacity: 0.1;
}
