

.header-logo{
  width: 200px;
}

.menu-btn{
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 0.3s ease;
  overflow: visible;
}

.menu-btn svg{
  width:45px;
  height: 45px;
}

.menu-btn .bar-1,
.menu-btn .bar-2,
.menu-btn .bar-3{
  width: 30px;
  height: 4px;
  background: #54565a;
  border-radius: 2px;
  transition: 0.3s ease;
}

.menu-open .bar-2{
  transform: translateX(100%) ;
  opacity: 0;
}

.menu-open .bar-1{
  transform: rotateZ(45deg) translate(6px, 7px);
}

.menu-open .bar-3{
  transform: rotateZ(-45deg) translate(6px, -7px);
}




.line {
  fill: none;
  stroke: #54565a;
  stroke-width: 7;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 7;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 7;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 7;
}

.menu-open .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
.menu-open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}
.menu-open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}