@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #fafafa;
  --background-secondary: #ffffff;

  --foreground-primary: #1a1a1a;
  --foreground-secondary: #54565a;

  --accent-primary: #E7661B;
  --accent-secondary: #F47425;
  --accent-third: #F79A53;
  --accent-fourth: #FFAB66;

  --optional-primary: #454662;
}



body {
  color: rgb(var(--foreground-primary));
  background: var(--background-primary);
}

.heading-decorations{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.heading-decorations::after{
  content: "";
  position: absolute;
  width: 30%;
  height: 5px;
  background-color: var(--accent-primary);
  bottom: 0;left:0;
}
.heading-decorations::before{
  content: "";
  position: absolute;
  width: 75%;
  height: 5px;
  background-color: var(--foreground-secondary);
  bottom: 0;left:0;
}