
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  font-size: 48px;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
h2{
  font-size:28px;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
p{
  font-size: 28px;
  padding: 0;
  font-weight: 400;
  margin: 0;
}
a{
  font-size: 24px;
}


.App{
  width: 100%;
  height: max-content;
  min-height: 100vh;
  background-image: linear-gradient(to right,#44ec9d, #7f5af8);


}




.header-container{
  width: 100%;
  max-width: 1200px;
  height: 60px;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}
.header-logo-container{
  height: 100%;
}
.header-logo{
  height: 100%;
}
.language-switcher-container{
  width: max-content;
  height: 60%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.language-switcher{
  aspect-ratio: 1 / 1;
  height: 100%;
  border: 2px solid #fafafa;
  border-radius: 100px;
  cursor: pointer;
  padding: 0;
} 



.content-container{
  width: 100%;
  max-width: 1200px;
  width: 100%;
  margin:0 auto;
  overflow: hidden;
  color: #fafafa;
  text-align: center;
}

.image{
  width: 80%;
  display: block;
  margin:0 auto;
}


.contact-links-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}
.contact-button{
  color: #464646;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  align-content: center;
}


.social-icons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:15px;
}

.social-icon{
  border: 2px solid #464646;
  border-radius: 100px;
  aspect-ratio:  1 / 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor:pointer;
  color:#fafafa;
}

.form-input-container-w-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  max-width: 450px;
  width: 100%;
  background-color: #fafafa;
  margin: 0 auto;
  padding-inline: 12px;
  border-left: 2px solid #464646 ;
  box-shadow: 0px 5px 15px 5px #1a1a1a55;
}

.form-input-container-w-button input{
  width: 100%;
  border: none;
  font-size: 20px;
  outline:none;
  padding: 11px 0;
}

.form-input-container-w-button button svg{
  display: block;
}
.form-input-container-w-button button{
  background: none;
  border: none;
  color: #464646;
  cursor: pointer;
  font-size: 18px;
}

.form-deny{
  border-bottom: 2px solid red;
}